
<form method="POST" action="/auth/signin">
    <input type='email' placeholder="email" name="email">
    <input type='password' placeholder="password" name="password">
    <button>SIGN IN</button>
</form>

<p>
    Don't have an account yet ? <a href="/auth/signup">signup</a>
</p>