<h1>THIS IS DASHBOARD</h1>

<div id="portfolios-container">
  {{#each user.portfolios}}
    <div class="portfolio">
      <a href="/dashboard/portfolio/{{_id}}">
        <p>{{name}}</p>
        <p>{{notes}}</p>
      </a>
      <button class="btn-update">Edit</button>
      <button class="btn-delete">Delete</button>
    </div>
  {{/each}}
</div>

<div id="create-portfolio">
  <input type="text" value="name" id="create-name" />
  <input type="text" value="notes" id="create-notes" />
  <button>Create</button>
</div>