<h1 class="title">CryptoFolio</h1>
<h2>Welcome to CrypotoFolio</h2>


<p>
    Cryptotracking is <b>of paramount iportance</b> !<br>
    <b>Welcome</b> to CrypotoFolio, a fullstack application powered by expressjs, mongodb and hbs.
</p>

<hr>