<header class="header">
    <h2></h2>
    <aside class="quote">
        <i> “The best Crypto Tracker of my life WAGMI"</i>
        <p><b> Satoshi Nakamoto & Vitalik Butterin, Crypto Kings </b></p>
    </aside>
</header>

<br><br>


<!-- new section -->
<section class="container" id="why">
    <article class="why">
        <h3> Why would you want use CryptoFolio? </h3>
        <p>
            Hey friends, as you might know, tracking your assets and being organized is <b>of paramount importance</b> to
            make it in the Crypto Game!
            In order to be up-to-date with all the crypto you have, you should use a quick and handy portfolio tracker !
            And GUESS what! <br>
            That is exactly what we offer you here 😏

        </p>
    </article>
</section>

<br><br>


<!-- new section -->
<section class="container" id="how">
    <article class="how">

        <h3> How should you use CryptoFolio? </h3>
        <p>
            CryptoFolio is a <b>really simple and handy</b> app!
            All you have to do is :
            <li>Create an Account</li>
            <li>Login to your Account</li>
            Once you're logged in: go to your dashboard page
            <li>Create a portfolio (name + comment)</li>
            <li>Add your cryptocurrencies</li>
            <li>For each crypto add the value you have and update it as soon as you buy/sell crypto so that your
                portfolio's value is always up-to-date!</li>

        <p>You can create as much portfolios as you want (for any strategy/risk management/for someone...)</p>


        </p>
    </article>

</section>

<br><br>


<!-- new section -->
<section class="container" id="CTA">
    <h3> Ready to keep track of your crypto investment: sign up for a Free Account!</h3>

    <div class="signup">
        <button onclick="location.href='/auth/signup'" type="button"> Signup! </button>

    </div>

</section>
<br><br>



<!-- new section -->
<section class="container" id="topcrypto">
    <h3> Top ranking crypto current rate</h3>

    <div>
        <div style="height:413px; padding:0px; margin:0px; width: 100%;"><iframe
                src="https://widget.coinlib.io/widget?type=full_v2&theme=light&cnt=6&pref_coin_id=1505&graph=yes"
                width="100%" height="409px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0"
                style="border:0;margin:0;padding:0;"></iframe></div>
        <div
            style="color: #FFFFFF; line-height: 14px; font-weight: 400; font-size: 11px; box-sizing: border-box; padding: 2px 6px; width: 100%; font-family: Verdana, Tahoma, Arial, sans-serif;">
            <a href="https://coinlib.io" target="_blank"
                style="font-weight: 500; color: #FFFFFF; text-decoration:none; font-size:11px">Cryptocurrency
                Prices</a>&nbsp;by Coinlib
        </div>
    </div>

</section>

<br><br>



<!-- new section -->
<section class="container" id="latestnews">
    <h3> Read the latest crypto news</h3>
    <p><a href="/newsfeed">Check all the lastest news for specific cryptos!</a>
    </p>
    <div class="newsmodule">
        {{#each allNewsShortened}}
        <li>{{this.title}}<br>
            {{this.published_at}}<br>
            <a href={{this.url}}>Read this news</a>
        </li>
        {{/each}}
    </div>
</section>

<br><br>



<!-- new section -->
<section class="section" id="team">
    <h3> Team </h3>
    <p class="section-text"> Our founders team is very tech savy has invested and worked in the crypto space since 2017.
        <br>
        Our dev tech is at the forefront of the best practices and defensive code so that you can use this app with no
        doubt and fear not for your security.
    </p>
    <br>
    <div>
        <article>
            <h4 class="member-name"> Arthur CDG</h4>
            <img src="https://ca.slack-edge.com/T02NA9U4U5A-U02PJNQKLRE-d5f1d89ccbe8-512" alt="Arthur CDG Image">
        </article>
        <article>
            <h4 class="member-name"> Steven SCM </h4>
            <img src="https://ca.slack-edge.com/T02NA9U4U5A-U02NUMZCD5Y-0dcef4933cd7-512" alt="Steven SCM Image">
        </article>
        <article>
            <h4 class="member-name"> Amine H </h4>
            <img src="https://ca.slack-edge.com/T02NA9U4U5A-U02PJP1TC4Q-feef74817a49-512" alt="Amine H Image">
        </article>
    </div>
</section>