<header class="header">
    <h1><img src="https://i.ibb.co/q5xXMp4/Capture-d-e-cran-2022-01-20-a-11-04-02.png" alt="CryptoFolio Logo">
        CryptoFolio </h1>
    <br>
    <h2>Welcome to CrypotoFolio</h2>
    <aside class="quote">
        <i> “The best Crypto Experience of my life” </i>
        <p> Satoshi Nakamoto & Vitalik Butterin, Crypto Kings </p>
    </aside>
    <p>
        Cryptotracking is <b>of paramount iportance</b> !<br>
        <b>Welcome</b> to CrypotoFolio, a fullstack application powered by expressjs, mongodb and hbs.
    </p>
</header>

<!-- section 1 -->
<section class="dark-background" id="why">
    <article class="container">
        <h3> Why do you want use CryptoFolio! </h3>
        <p>
            Cryptotracking is <b>of paramount iportance</b> !<br>
            <b>Welcome</b> to CrypotoFolio, a fullstack application powered by expressjs, mongodb and hbs.
        </p>
    </article>
</section>

<!-- section 2 -->
<section class="container" id="how">
    <h3> How should you use CryptoFolio </h3>
    <div>
        <article class="container">
            <p></p>
    </div>
</section>

<!-- section 3 -->
<section class="dark-background" id="team">
    <h3> Team </h3>
    <p class="section-text"> Our core founder team is very tech savy has invested in crypto since 2017. </p>
    <p>Our dev tech is at the forefront of the best practices and defensive code so that you can use this app with no
        doubt and fear for your security</p>
    <hr>
    <div>
        <article>
            <h4 class="member-name"> Arthur CDG</h4>
            <img src="" alt="Arthur CDG Image">
        </article>
        <article>
            <h4 class="member-name"> Steven Scm </h4>
            <img src="" alt="Steven SCM">
        </article>
        <article>
            <h4 class="member-name"> Taylor Roberts </h4>
            <img src="https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/upload_7104a331530d1b0611da55093b7dc421.jpg"
                alt="Taylor Roberts Image">
        </article>
    </div>
</section>

<!-- section 4 -->
<section class="container" id="schedule">
    <h3> Schedule </h3>
    <table class="schedule-table" cellpadding="0" cellspacing="0">
        <thead>
            <th> time </th>
            <th> Monday </th>
            <th> Tuesday </th>
            <th> Wednesday </th>
            <th> Thursday </th>
            <th> Friday </th>
            <th> Saturday </th>
        </thead>
        <tbody>
            <tr>
                <td> 9:00 - 11:00 </td>
                <td> </td>
                <td> </td>
                <td> X </td>
                <td> </td>
                <td> X </td>
                <td> X </td>
            </tr>
            <tr>
                <td> 12:00 - 14:00 </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> X </td>
                <td> X </td>
            </tr>
            <tr>
                <td> 15:00 - 17:00 </td>
                <td> </td>
                <td> </td>
                <td> X </td>
                <td> X </td>
                <td> X </td>
                <td> X </td>
            </tr>
        </tbody>
    </table>

    <h3> Schedule a Time Slot </h3>
    <form class="slot-form" action="/register" method="post">
        <div class="slot-form-container">
            <label> Email </label>
            <input type="email" placeholder="Enter your email">
        </div>

        <div class="slot-form-container">
            <label> Participants </label>
            <input type="Number" placeholder="Number of participants">
        </div>

        <div class="slot-form-container">
            <label> Date </label>
            <input type="date">
        </div>

        <div class="slot-form-container">
            <label> Time </label>
            <select>
                <option value="early"> 9:00 - 11:00 </option>
                <option value="mid"> 12:00 - 14:00 </option>
                <option value="late"> 15:00 - 17:00 </option>
            </select>
        </div>

        <div class="slot-form-container">
            <button type="submit"> Reserve Your Slot! </button>
        </div>
    </form>
</section>


<footer class="dark-background footer">
    <section>
        <h5> Contact Information </h5>
        <address class="address">IronSkydive <br /> 226 Boulevard Voltaire, <br /> 75011 Paris, <br /> France <br /> +33
            1 79 75 40 00</address>
        <h5> Follow uUs </h5>
        <ul>
            <li> <a href="#"> Twitter </a> </li>
            <li> <a href="#"> Facebook </a> </li>
            <li> <a href="#"> Instagram </a> </li>
        </ul>
    </section>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.142047744348!2d2.3354330160472316!3d48.87456857928921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e38f817b573%3A0x48d69c30470e7aeb!2sIronhack!5e0!3m2!1sen!2ses!4v1495208746099"
        class="map-frame" frameborder="0" style="border:0" allowfullscreen></iframe>
</footer>