<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="module" src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
