<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/scripts/dashboard-crud.js" type="module"></script>
  <script src="/scripts/portfolio-crypto-crud.js" type="module"></script>
  <script src="/scripts/each-crypto-currentPrice-graph.js" type="module"></script>
  {{!--
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}
</head>




<body>
  <header id="header-main">

    <span id="logo-main">
      <a href="/">CryptoFolio</a>
    </span>
    <nav>
      <a href="/" class="link">Home</a> |
      <a href="/newsfeed" class="link">Newsfeed</a> |
      <a href="/dashboard" class="link">Dashboard</a>
    </nav>
  </header>

  {{{body}}}

  <footer class="dark-background footer">
    <section>
      <h5> Contact Information </h5>
      <address class="address">CryptoFolio <br /> 226 Boulevard Voltaire, <br /> 75011 Paris, <br /> France <br /> +33
        1 79 75 40 00</address>
      <h5> Follow Us </h5>
      <ul>
        <li> <a href="#"> Twitter </a> </li>
        <li> <a href="#"> Facebook </a> </li>
        <li> <a href="#"> Instagram </a> </li>
      </ul>
    </section>
  </footer>

</body>



</html>