<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}
</head>

<header id="header-main">
  <span id="logo-main">
    <a href="/">CryptoFolio</a>
  </span>
  <nav>
    <a href="/" class="link">Home</a> |
    <a href="/newsfeed" class="link">Newsfeed</a> |
    <a href="/dashboard" class="link">Dashboard</a>
    </a>
  </nav>
</header>


<body>
  {{{body}}}
</body>

</html>