h1 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.portfolio:hover {
  border: thick double #fffdff;
  padding: 0 5px;
  border-radius: 5px;
}

.portfolio:hover {
  background-color: rgb(204, 150, 150);
  border-radius: 20px;
}

.name,
.notes {
  color: #fffdff;
  overflow-wrap: break-word;
  border-radius: 5px;
  border: solid #5217ce;
}

.name {
  background-color: #5217ce;
  font-size: 36px;
  font-weight: bold;
  margin-top: 5px;
}

.notes {
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}

.btn-update {
  padding: 5px 40px;
  margin: 10px;
  background-color: #00d683;
  color: #fffdff;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn-delete {
  padding: 5px 30px;
  margin: 10px;
  background-color: #e32152;
  color: #fffdff;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 5px;
  margin-bottom: 15px;
}

#create-portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  padding-bottom: 100px;
  padding-top: 40px;
  margin-top: 50px;
  border-top: dotted #fffdff;
}

input,
#btn-create {
  margin: 15px 0;
  border-radius: 5px;
}

#create-name,
#create-notes {
  background-color: #fffdff;
  color: #5217ce;
  width: 30%;
  min-width: 400px;
  height: 50px;
  padding: 0 15px;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 5px;
}

#btn-create {
  color: #fffdff;
  background-color: #5217ce;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 50px;
  border-radius: 5px;
}

label {
  color: #fffdff;
  font-size: 24px;
}

.edit-portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.edit-name,
.edit-notes {
  background-color: #fffdff;
  color: #5217ce;
  width: 30%;
  min-width: 300px;
  height: 50px;
  padding: 0 15px;
  font-size: 18px;
  font-weight: bolder;
}

.btn-validate {
  color: #fffdff;
  background-color: #5217ce;
  font-size: 16px;
  font-weight: bolder;
  padding: 5px 50px;
  margin-top: 10px;
  border-radius: 5px;
}
