* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  background-color: #161222;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: #fffdff;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 20px 10px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.4rem;
}

p,
span {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #fffdff;
}

hr {
  margin-top: 20px;
}

#social {
  margin-left: 5px;
}

/* Steven's part has to be on the main style css deal with the layout.hbs */
header {
  padding: 0 25px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted lightgray;
  position: sticky;
  top: 0;
  background-color: #161222;
}

.logo {
  width: 100px;
}

.nav {
  background-color: rgb(25, 33, 41);
  padding: 14px 0;
  /* display: inline-block; */
}
nav a {
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.footer {
  /* font-size: 1em; */
  text-align: center;
  /* padding: 40px 100px; */
  margin-bottom: 25px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  border-top: 1px dotted lightgray;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: rgb(67, 163, 230);
  text-decoration: none;
}
